<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
<!--    刪除菜品-->
    <delete id="delete">
        DELETE FROM dish WHERE id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName , f.value as flavors from dish d left outer join category c  on d.category_id = c.id
        LEFT OUTER JOIN dish_flavor f ON d.id = f.dish_id

        <where>
            <if test="name!=null and name !=''">
                and d.name like concat('%',#{name},'%'),
            </if>

            <if test="categoryId!=null and categoryId !=''">
                d.categoryId=#{categoryId},
            </if>
            <if test="status!=null and status !=''">
                d.status=#{status},
            </if>
        </where>

        order by create_time desc

    </select>
    <!--更新接口-->
<!--    <update id="update" parameterType="Employee">-->
<!--        update employee-->
<!--        <set>-->
<!--            <if test="status !=null">-->
<!--                status =#{status},-->
<!--            </if>-->
<!--            <if test="username!=null and username !=''">-->
<!--                username =#{username},-->
<!--            </if>-->

<!--            <if test="name!=null and name !=''">-->
<!--                name =#{name},-->
<!--            </if>-->

<!--            <if test="sex!=null and sex !=''">-->
<!--                sex =#{sex},-->
<!--            </if>-->

<!--            <if test="phone!=null and phone !=''">-->
<!--                phone =#{phone},-->
<!--            </if>-->
<!--            <if test="idNumber!=null and idNumber !=''">-->
<!--                id_number =#{idNumber}-->
<!--            </if>-->
<!--        </set>-->
<!--        where id =#{id}-->
<!--    </update>-->
</mapper>
