<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--    刪除菜品-->
    <delete id="delete">
        DELETE FROM dish WHERE id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName  from dish d left outer join category c  on d.category_id = c.id


        <where>
            <if test="name!=null and name !=''">
                and d.name like concat('%',#{name},'%'),
            </if>

            <if test="categoryId!=null and categoryId !=''">
                d.categoryId=#{categoryId},
            </if>
            <if test="status!=null and status !=''">
                d.status=#{status},
            </if>
        </where>

        order by create_time desc

    </select>
    <!--更新接口-->
    <update id="update" parameterType="com.sky.dto.DishDTO">
        update dish
        <set>
            <if test="status !=null">
                status =#{status},
            </if>
            <if test="price!=null and price !=''">
                price =#{price},
            </if>

            <if test="name!=null and name !=''">
                name =#{name},
            </if>

            <if test="image!=null and image !=''">
                image =#{image},
            </if>

            <if test="description!=null and description !=''">
                description =#{description},
            </if>
            <if test="categoryId!=null and categoryId !=''">
                category_id =#{categoryId},
            </if>
            <if test="updateTime!=null">
                update_time =#{updateTime},
            </if>

            <if test="updateUser!=null">
                update_User =#{updateUser}
            </if>
        </set>
        where id =#{id}
    </update>
</mapper>
