<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <!--    跟新订单详情-->
    <insert id="insertBatch">
        insert into order_detail (name, image, order_id, dish_id, setmeal_id, dish_flavor, amount) values
        <foreach collection="orderDetailList" item="od" separator=",">
            (#{od.name},#{od.image},#{od.orderId},#{od.dishId},#{od.setmealId},#{od.dishFlavor},#{od.amount})
        </foreach>

    </insert>


    <!--更新接口-->
    <update id="update" parameterType="SetmealDish">
        update setmeal_dish
        <set>
            <if test="setmealId !=null">
                setmeal_id =#{setmealId},
            </if>
            <if test="dishId!=null and dishId !=''">
                dish_id =#{dishId},
            </if>

            <if test="name!=null and name !=''">
                name =#{name},
            </if>

            <if test="price!=null and price !=''">
                price =#{price},
            </if>

            <if test="copies!=null and copies !=''">
                copies =#{copies}
            </if>

        </set>
        where id =#{id}
    </update>
</mapper>
